<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>H.A.N.S.</title>
</head>
<body>
	{{> header}}
	<p>	</p>
	<p>Projects</p>
		<ul>
			<li>Style Guide</li>
			<li>EA Wiki</li>
			<li>Event Calendar</li>
			<li>Ticketing System</li>		
		</ul>
	{{> footer}}
</body>

</html>